*{
    background-color: #808000;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: linden-hill-italic;
    src: url(fonts/LindenHill-Italic.ttf) format("truetype");
}

@font-face {
    font-family: tommy-hilfiger-af;
    src: url(fonts/TOMMY___.TTF) format("truetype");
}

@font-face {
    font-family: gurmukhi-mn-bold;
    src: url(fonts/Gurmukhi\ MN.ttc);
}

@font-face {
    font-family: didot-regular;
    src: url(fonts/Didot\ Regular.ttf);
}

div {
    font-family: "didot-regular", sans-serif;
}

p {
    font-family: "tommy-hilfiger-af", sans-serif;
}

button {
    font-family: "gurmukhi-mn-bold", sans-serif;
}

#logo{
    width: 96px; position: absolute; top: 24px; left: 24px; background-color: transparent;
}

#buttons {
    position: absolute;
    font-size: 20px;
    left: 50%;
    transform: translate(-50%, 56px);
    text-align: center;
}

#buttons a {
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    color: black;
}

#buttons a:hover {
    color: white;
}

#network {
    position: absolute; 
    right: 26px; 
    top: 58px;
}

#network img {
    width: 20px; padding-left: 10px; padding-right: 10px; background-color: transparent;
}

#network img:hover {
    filter: invert(1);
}

#center-piece {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#text{
    max-width: 768px; margin: auto; padding-left: 24px; padding-right: 24px; display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;
}

#text p{
    font-size: 22px; text-align: left; width: 100%; font-family: 'didot-regular';
}

#text p b{
    font-size: 36px; font-family: 'linden-hill-italic'; font-weight: normal;
}

#text p a{
    color: purple;
}

#menu-button {
    font-size: 48px;
    color: black;
    border: none;
    position: absolute;
    top: 30px;
    right: 30px;
}

.nav-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    z-index: 2;
}

.nav-menu ul {
    list-style-type: none;
    padding: 0;
}

.nav-menu ul li {
    padding: 8px 16px;
    text-align: left;
    white-space: nowrap;
}

.nav-menu ul li a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.close-button {
    visibility: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    border: none;
    z-index: 1;
}

html::-webkit-scrollbar {
width: 8px;
}

html::-webkit-scrollbar-track {
background: black;
}

html::-webkit-scrollbar-thumb {
background: gray; 
}

.container {
    display: grid;
    grid-template-columns: 350px 350px; /* Fixed widths for columns */
    gap: 10px; /* Adjust the gap between items as needed */
    justify-content: center; /* Center the grid horizontally */
    max-width: 640px; /* Optional: Set a max-width for the container */
    margin: 0 auto; /* Optional: Center the container if it's not full-width */
    transform: translate(0, 145px);
}

.project-container {
    display: grid;
    grid-template-columns: 350px 350px; /* Fixed widths for columns */
    gap: 10px; /* Adjust the gap between items as needed */
    justify-content: center; /* Center the grid horizontally */
    max-width: 640px; /* Optional: Set a max-width for the container */
    margin: 0 auto; /* Optional: Center the container if it's not full-width */
    transform: translate(0, 145px);
}

.item {
    text-align: center;
}

.item img {
    width: 100%; /* Adjust to fit the container or set a fixed width */
    max-width: 350px;
}

.item video {
    width: 100%; /* Adjust to fit the container or set a fixed width */
    max-width: 350px;
}


@media (max-width: 768px) { /* Adjust the max-width value based on your breakpoint */
    .container {
        grid-template-columns: 1fr; /* Switch to a single column layout */
    }
}

@media (min-width: 900px) {
    .container {
        grid-template-columns: repeat(3, 350px); /* 3 columns for medium screens */
    }
}

@media (min-width: 1200px) {
    .container {
        grid-template-columns: repeat(4, 350px); /* 4 columns for wider screens */
        max-width: 1440px; /* Adjust max-width for wider screens */
    }
}